<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="imageWrapper">
    <div class="headerBackground">
      <div class="container">
        {% include header.html %}
        
        <div class="hero-content">
          <h1>{{ site.title }}</h1>
          <p class="lead">Your Ultimate iOS Companion and Mentor</p>
          <p>Taking inspiration from Bliss AI, revolutionizing learning with advanced AI technology, without compromising privacy!</p>
        </div>
      </div>
    </div>
  </div>

  <main>
    {{ content }}
    {% include features.html %}
  </main>

  {% include footer.html %}
  
  <script src="{{ '/assets/js/parallax.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>